########### add by aut,not sure is needed
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


######### add by self,not sure is needed
settings/
.idea/
log/
target/
build/
.gradle/
.classpath
.project
.DS_Store
*.iml
*.iws


######### add by self,not sure is needed
# Gradle
**/bin/
**/build/
**/.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# Eclipse
**/.classpath
**/.project
**/.settings/

# Intellij
**/.idea/
**/*.iml
**/*.iws
**/atlassian-ide-plugin.xml

# Mac
.DS_Store

# Spring Data
**/data/
